{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Vérifier Son Adresse E-mail" %}{% endblock %}

{% block content %}
<h1>{% trans "Vérifier Son Adresse E-mail" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Cette partie du site nous oblige à vérifier que
    vous êtes bien celui ou celle que vous prétendez être. À cette fin, nous vous demandons de
    vérifiez la propriété de votre adresse électronique. {% endblocktrans %}</p>

<p>{% blocktrans %}Nous vous avons envoyé un e-mail pour
    vérification. Veuillez cliquer sur le lien contenu dans cet e-mail. Veuillez
    contactez-nous si vous ne le recevez pas dans les minutes qui suivent. {% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Remarque:</strong> vous avez toujours la possibilité de <a href="{{ email_url }}">changer votre adresse e-mail</a>.{% endblocktrans %}</p>


{% endblock %}
