.post-pdp {
	float: left;
	margin-right: 1rem;
}

.post-link {
	text-decoration: none;
}

.post-text {
	padding-top: 0.5rem;
}

.post-image{
    max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}