<!--page de détails d'un post, comportant le post en question et les commentaires-->
{% extends 'landing/base.html' %} <!--page enfant de base.html-->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <!--bouton pour retourner à la page principale des posts-->
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Retour à la page principale</a>
        </div>
    </div>
    <!--Post de l'auteur-->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="d-flex align-items-center">
                <a href="{% url 'profile' post.auteur.profile.pk %}">
                    <img class="round-circle post-pdp" height="30" width="30" src="{{ post.auteur.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.auteur.profile.pk %}">@{{ post.auteur }}</a> 
                    {{ post.sendingTime }}
                    {% if request.user == post.auteur %}
                    <a href="{% url 'post-edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                    <a href="{% url 'post-delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
            </div>
            <p>{{ post.contenu }}</p>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"> <!--retourne sur la page actuelle après le clic-->
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        {% else %}
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i> <!--count permet de retourner la longueur de la liste des likes-->
                        {% endif %}
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"> <!--retourne sur la page actuelle après le clic-->
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        {% if request.user in post.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        {% else %}
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i> <!--count permet de retourner la longueur de la liste des likes-->
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--Formulaire pour ajouter un commentaire-->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Ajoutes un commentaire!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }} <!--style du formulaire-->
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-3">Envoyer!</button>
                </div>
            </form>
        </div>
    </div>
    <!--Affichage de tous les commentaires triés par la date d'envoi-->
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a href="{% url 'profile' comment.auteur.profile.pk %}">
                <img class="round-circle post-pdp" height="30" width="30" src="{{ comment.auteur.profile.picture.url }}" />
            </a>
            <p class="post-text">
                <a class="text-primary post-link" href="{% url 'profile' comment.auteur.profile.pk %}">@{{ comment.auteur }}</a> 
                {{ comment.sendingTime }}
                {% if request.user == comment.auteur %}
                <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"> <!--retourne sur la page actuelle après le clic-->
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        {% if request.user in comment.likes.all %}
                        <i class="fa-solid fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i>
                        {% else %}
                        <i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i> <!--count permet de retourner la longueur de la liste des likes-->
                        {% endif %}
                    </button>
                </form>

                <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"> <!--retourne sur la page actuelle après le clic-->
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        {% if request.user in comment.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i>
                        {% else %}
                        <i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i> <!--count permet de retourner la longueur de la liste des likes-->
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}