<!--page de modification du profil de l'utilisateur-->
{% extends 'landing/base.html' %} <!--page enfant de base.html-->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <!--bouton pour retourner sur le profil de l'utilisateur-->
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'profile' object.pk %}" class="btn btn-light">Retour</a>
        </div>
    </div>
    <!--formulaire pour mettre à jour son profil-->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Mettez à jour votre profil</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">  <!-- Pour que le formulaire puisse supporter les types de fichiers d'images -->
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-3">Envoyer!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}